# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
dist
build
.vite

# Git
.git
.gitignore

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db
